@page "/Missao/{id:int}"
@using System.Net.Http.Json
@using SiteCRM.FrontEnd.Models
@inject HttpClient http

<PageTitle>@titulo</PageTitle>

<div class="container">
    <br />
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Informações sobre</h1>
            <h4 class="lead my-3">@titulo</h4>
            <p class="lead mb-0"><a href="#conteudo" class="text-white font-weight-bold">Leia abaixo...</a></p>
        </div>
    </div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12 blog-main" id="conteudo">
                <div class="blog-post">
                    <h2 class="blog-post-title">@titulo</h2>
                    <p class="blog-post-meta">@slug</p>

                    <p>@texto</p>
                    <div class="mb-1 text-muted">@dataPost</div>
                    <hr>
                    
                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="/Missoes">Voltar</a>
                </nav>

            </div><!-- /.blog-main -->
        </div><!-- /.row -->
    </main><!-- /.container -->
</div>

@code {
    [Parameter] public int id { get; set; }
    public string titulo { get; set; }
    public string slug { get; set; }
    public string texto { get; set; }
    public string img { get; set; }
    public DateTime dataPost { get; set; }

    public virtual byte[] imgByte { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var url = $"https://localhost:7048/api/missoes/{id}";
        var getMissao = await http.GetFromJsonAsync<MIssaoViewModel>(url);
        
        titulo = getMissao.titulo;
        slug = getMissao.slug;
        texto = getMissao.texto;
        dataPost = getMissao.dataPost;

        var imgBase64 = Convert.ToBase64String(getMissao.imgByte);
        var imgDadosUrl = string.Format("data:image/png;base64,{0}", imgBase64);
        img = imgDadosUrl;
    }
}
